body  {background-color: white;}
p  {font-family: 'Roboto Serif', sans-serif;
    font-size: 20px;
}
h1  {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 70px;
} 

.cool{
    border:solid;
    border-color: gray;
    border-width: 2px;
}